.text-decorator-none{
    text-decoration: none;
}

.text-bold {
    font-weight: bold !important;
    color: white !important;
}

.text-bold-tema {
    margin-top: 15px !important;
    font-weight: bold !important;
    color: white !important;
}

.card-postagem {
    background-color: #212227 !important;
    border-color: white !important;
}

.text-postagem {
    color: white !important;
}

.MuiCardActions-root {
    justify-content: center;
}

.botao-deletar {
    font-weight: bold !important;
    background-color: rgb(207, 55, 55) !important;
    color: white !important;
}

.botao-deletar:hover {
    background-color: rgb(136, 36, 36) !important;
}

.botao-atualizar {
    font-weight: bold !important;
}

.botao-atualizar:hover {
    background-color: #253285 !important;
}

body {
    background-color: #3F4247;
}