/*.carrossel {
    margin: 1cm;
    border-radius: 1cm;
    background-color: #212227;
    height: 10cm;    
}
*/

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #212227;
    margin: 1cm 15px;
    border-radius: 1cm;
}

.titulo-c {
    text-align: center;
    font-family: Arial black;
    color: white;
    font-weight: bold;
}

.menuCarrossel {
    margin-top: 3cm;
    margin-bottom: 5cm;
}
